.payment-card {
    padding:25px;
    border: 2px solid #ddd;
    border-radius: 14px;
    cursor: pointer;
    text-align: center;
    transition: 0.25s;
    background: #fff;
}

.payment-card:hover{
    border-color: #0d6efd;
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0,0, 0.08);
}

.payment-card.active{
    border-color: #0d6efd;
    background-color: #eef4ff;
    box-shadow: 0 6px 20px rgba(0, 0,0,0.1);
}